<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BGC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1Container"
      connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database1.sdf&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="BGEntityConnection"
      connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database1.sdf&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <userSettings>
    <BGC.Properties.Settings>
      <setting name="CVsCgameNumber" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CVsCshowMoves" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CVsCshowGames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CVsCSecPause" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UseProgrammedTemp0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseProgrammedTemp1" serializeAs="String">
        <value>0</value>
      </setting>
    </BGC.Properties.Settings>
  </userSettings>
</configuration>